@media screen and (max-width: 900px) {
    header{
        height: 200px;
    }
    ul{
        display:flex;
        flex-direction: row-reverse;
        padding-top: 70px;
        display: flex;
        flex-direction: row;
        padding-top: 70px;
        align-items: baseline;
        justify-content: center;
        flex-wrap: wrap;
    }
    .MensajeEntrada{
    max-width: 100%; 
    width: 80%; 
    height: auto; }
}
@media screen and (max-width: 420px){
    ul li a {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
}